div.div-1{
    background-color: aqua;
    width: 50%;
}
div.div-2{
    background-color: darkred;
    width: 50%;
}
div.div-3{
    background-color: orange;
    width: 50%;
}
div.div-4{
    background-color: green;
    width: 50%;
}