nombre{
    color: blue;
    font-size: 25px;
    line-height: 10px;
    display: block;
    margin: 20px;
}

email{
    color: blue;
    font-size: 25px;
    line-height: 10px;
    display: block;
    margin: 20px; 
}